{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": { "@typescript-eslint/ban-types": "off" },
  "ignorePatterns": ["src/types/**/*.ts"]
}
